##########################################
# Sacraments.cfg
# Stores information for sacraments so they can easily be changed.
#
# Sacrament # (position in the book)
# {
#	Name 		- Rite Name
#	script 		- sacraments/scriptname
#	Chant 		- chant cleric will say when casting
#	NumChants 	- number of times the cleric will chant
# }
###########################################


Sacrament 1
{
	Name Indoctrination
	Script sacraments/indoctrination
	Chant	In Perpetuum Cum Luce Eamus
	NumChants 5
}
Sacrament 2
{
	Name Excommunication
	Script sacraments/excommunication
	Chant	Extra Ecclesiam Nulla Salus
	NumChants 5
}
Sacrament 3
{
	Name Concentration
	Script sacraments/concentration
	Chant	Crescat Scientia
	NumChants 5
}
Sacrament 4
{
	Name Create Focus
	Script sacraments/createfocus
	Chant	Animis Opibusque Parati
	NumChants 5
}
Sacrament 5
{
	Name Sense Auras
	Script sacraments/senseaura
	Chant	Sciamus
	NumChants 5
}
Sacrament 6
{
	Name Create Tome
	Script sacraments/makecanon
	Chant	 Verba Volant Scripta Manet
	NumChants 5
}
Sacrament 7
{
	Name Revelation
	Script sacraments/revelation
	Chant	Scientia Est Potestas
	NumChants 0
}