# Fishing Tools

Item 0x0dbf
{
    Name            FishingPole
    Script          fishing
    VendorSellsFor  15
    VendorBuysFor   7
    Weight          4
}

# Fish

Item 0x09cc
{
    Name fish1
    vendorsellsfor  8
    vendorbuysfor   4
    Weight          1
}

item 0x09cd
{
    Name fish2
    vendorsellsfor  8
    vendorbuysfor   4
    Weight          1
}
item 0x09ce
{
    Name fish3
    vendorsellsfor  8
    vendorbuysfor   4
    Weight          1
}
item 0x09cf
{
    Name fish4
    vendorsellsfor  8
    vendorbuysfor   4
    Weight          1
}

item 0x0dd6
{
    Name fish5
    vendorsellsfor  8
    vendorbuysfor   4
    Weight          1
}

item 0x0dd7
{
    Name fish6
    vendorsellsfor  8
    vendorbuysfor   4
    Weight          1
}

item 0x0dd8
{
    Name fish7
    vendorsellsfor  8
    vendorbuysfor   4
    Weight          1
}

item 0x0dd9
{
    Name fish8
    vendorsellsfor  8
    vendorbuysfor   4
    Weight          1
}

# SOS Bottles

item 0xA360
{
    Name             sosbottle
    Desc             SOS Bottle
    script           sosbottle
    graphic          0x099F
    Weight           2
}


item 0xA363
{
    Name             sosmessage
    Desc             SOS Message
    script           sosmessage
    graphic          0x14ED
    Weight           1
}

item 0xA365
{
    Name             sostile
    Desc             water
    graphic          0x993
    decay            180
}


# Magic Fish

item 0xA368
{
    Name             magicfish1
    Desc             magic fish
    script           magicfish
    graphic          0x0dd6
    VendorSellsFor   20
    VendorBuysFor    10
    Weight           1

// Bless spell
    Cprop spellnum i17
    Cprop spellsound i491
    Cprop spelleffect i14138
    Cprop miscprop1 i10			// adjusts the stat gain
    Cprop miscprop2 i60			// adjusts duration of effect
}

item 0xA369
{
    Name             magicfish2
    Desc             magic fish
    script           magicfish
    graphic          0x0dd6
    Color            41
    VendorSellsFor   20
    VendorBuysFor    10
    Weight           1

// Agility spell
    Cprop spellnum i9
    Cprop spellsound i488
    Cprop spelleffect i14154
    Cprop miscprop1 i10			// adjusts the stat gain
    Cprop miscprop2 i60			// adjusts duration of effect
}

item 0xA36A
{
    Name             magicfish3
    Desc             magic fish
    script           magicfish
    graphic          0x0dd6
    Color            51
    VendorSellsFor   20
    VendorBuysFor    10
    Weight           1

// Cunning spell
    Cprop spellnum i10
    Cprop spellsound i492
    Cprop spelleffect i14170
    Cprop miscprop1 i10			// adjusts the stat gain
    Cprop miscprop2 i60			// adjusts duration of effect
}

item 0xA36B
{
    Name             magicfish4
    Desc             magic fish
    script           magicfish
    graphic          0x0dd6
    Color            61
    VendorSellsFor   20
    VendorBuysFor    10
    Weight           1

// Strength spell
    Cprop spellnum i16
    Cprop spellsound i495
    Cprop spelleffect i14186
    Cprop miscprop1 i10			// adjusts the stat gain
    Cprop miscprop2 i60			// adjusts duration of effect
}

item 0xA36C
{
    Name             magicfish5
    Desc             magic fish
    script           magicfish
    graphic          0x0dd6
    Color            91
    VendorSellsFor   20
    VendorBuysFor    10
    Weight           1

// Cure spell
    Cprop spellnum i11
    Cprop spellsound i481
    Cprop spelleffect i14201
    Cprop miscprop1 i2			// adjusts the number of poison_level points cured
    Cprop miscprop2 i0			// not used
}

item 0xA36D
{
    Name             magicfish6
    Desc             magic fish
    script           magicfish
    graphic          0x0dd6
    Color            9
    VendorSellsFor   20
    VendorBuysFor    10
    Weight           1

// Heal spell
Cprop spellnum i4
Cprop spellsound i499
Cprop spelleffect i14265
Cprop miscprop1 i10			// adjusts the number of hp healed
Cprop miscprop2 i0			// not used
}

item 0xA36E
{
    Name             magicfish7
    Desc             magic fish
    script           magicfish
    graphic          0x0dd6
    Color            1001
    VendorSellsFor   20
    VendorBuysFor    10
    Weight           1

// Invisibility spell
    Cprop spellnum i44
    Cprop spellsound i516
    Cprop spelleffect i14122
    Cprop miscprop1 i0			// not used
    Cprop miscprop2 i0			// not used
}

item 0xA36F
{
    Name             magicfish8
    Desc             magic fish
    script           magicfish
    graphic          0x0dd6
    Color            21
    VendorSellsFor   20
    VendorBuysFor    10

// Night Sight spell
    Cprop spellnum i6
    Cprop spellsound i484
    Cprop spelleffect i14360
    Cprop miscprop1 i0			// adjusts the light level
    Cprop miscprop2 i1800		// adjusts duration of effect
}

